<div class="child" id="certificados">
        <div class='main'>
            <h1 class="certificadoh1">Título do Certificado/da Formação</h1>
            <h3 class="certificadoh3">Texto explicativo sobre o certificado/ a formação</h3>
            <img class="certificadoimg" src="../images/MicrosoftSoftwareDeveloperBadge.png" alt="MicrosoftSoftwareDeveloperBadge">
            <p class="certificadop">Imagem da formação</p>


            <h1 class="certificadoh1">Título do Certificado/da Formação</h1>
            <h3 class="certificadoh3">Texto explicativo sobre o certificado/ a formação</h3>
            <img class="certificadoimg" src="../images/MicrosoftSoftwareDeveloperBadge.png" alt="MicrosoftSoftwareDeveloperBadge">
            <p class="certificadop">Imagem da formação</p>

            <h1 class="certificadoh1">Título do Certificado/da Formação</h1>
            <h3 class="certificadoh3">Texto explicativo sobre o certificado/ a formação</h3>
            <img class="certificadoimg" src="../images/MicrosoftSoftwareDeveloperBadge.png" alt="MicrosoftSoftwareDeveloperBadge">
            <p class="certificadop">Imagem da formação</p>

            <h1 class="certificadoh1">Título do Certificado/da Formação</h1>
            <h3 class="certificadoh3">Texto explicativo sobre o certificado/ a formação</h3>
            <img class="certificadoimg" src="../images/MicrosoftSoftwareDeveloperBadge.png" alt="MicrosoftSoftwareDeveloperBadge">
            <p class="certificadop">Imagem da formação</p>
        </div>

    </div>