<div class="child" id="conhecimentos">
        <div id="linguagensnavbar" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Python</a>
            <a href="#">Java</a>
            <a href="#">Javascript</a>
            <a href="#">R</a>
            <a href="#">SQL</a>
        </div>
        <div id="datasciencenavbar" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Python</a>
            <a href="#">Matploblib</a>
            <a href="#">Regex</a>
            <a href="#">Power BI</a>
            <a href="#">R</a>
            <a href="#">Machine Learning</a>
            <a href="#">Inteligência Artificial</a>
        </div>
        <div id="webnavbar" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Javascript</a>
            <a href="#">HTML</a>
            <a href="#">CSS</a>
            <a href="#">Flask</a>
            <a href="#">Heroku</a>
        </div>
        <div id="linguasnavbar" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Inglês</a>
            <a href="#">Espanhol</a>
            <a href="#">Português</a>
        </div>

        <div id="metodologiasnavbar" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Scrum</a>
            <a href="#">?</a>
        </div>

        <div id="diversosnavbar" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Office 365</a>
            <a href="#">Android</a>
            <a href="#">C/C++</a>
            <a href="#">Linux</a>
            <a href="#">Windows</a>
            <a href="#">MongoDB</a>
            <a href="#">SQLite</a>
            <a href="#">Docker</a>
        </div>


        <div id="mainconhecimentos">
            <div>
                <h1 class="conhecimentosh1">Tipo de conhecimento</h1>
                <p class="ph1">Texto geral sobre os conhecimentos agregados
                    <span onclick="openNav('linguagensnavbar')">
                        <strong>linguagens</strong>
                    </span>
                </p>
            </div>
            <div>
                <h1 class="conhecimentosh1">Tipo de conhecimento</h1>
                <p class="ph1">Texto geral sobre os conhecimentos agregados
                    <span onclick="openNav('datasciencenavbar')">
                        <strong>data science</strong>
                    </span>
                </p>
            </div>
            <div>
                <h1 class="conhecimentosh1">Tipo de conhecimento</h1>
                <p class="ph1">Texto geral sobre os conhecimentos agregados
                    <span onclick="openNav('webnavbar')">
                        <strong>web</strong>
                    </span>
                </p>
            </div>
            <div>
                <h1 class="conhecimentosh1">Tipo de conhecimento</h1>
                <p class="ph1">Texto geral sobre os conhecimentos agregados
                    <span onclick="openNav('linguasnavbar')">
                        <strong>línguas</strong>
                    </span>
                </p>
            </div>
            <div>
                <h1 class="conhecimentosh1">Tipo de conhecimento</h1>
                <p class="ph1">Texto geral sobre os conhecimentos agregados
                    <span onclick="openNav('metodologiasnavbar')">
                        <strong>metodologias</strong>
                    </span>
                </p>
            </div>
            <div>
                <h1 class="conhecimentosh1">Tipo de conhecimento</h1>
                <p class="ph1">Texto geral sobre os conhecimentos agregados
                    <span onclick="openNav('diversosnavbar')">
                        <strong>diversos</strong>
                    </span>
                </p>
            </div>
        </div>
    </div>