<!-- Inserir no conteiner -->
<div class="child" id="contato">
    <pre class="contatostyling">
        Espero que tenha gostado do meu site, caso queira sugerir melhorias ou falar comigo por favor utilize algum dos meios abaixo



        Informações para contato:
    </pre>
    <table class="contatostyling">
        <tr>
            <th>
                <img class="contatoimg" src="../images/icons/WhatsAppIcone.png">
            </th>
            <th>
                Celular: (51) 99455-6722
            </th>
        </tr>
        <tr>
            <th>
                <img class="contatoimg" src="../images/icons/GmailIcon.png">
            </th>
            <th>
                E-mail: <a style="color: rgba(70, 70, 70, 0.815);" href="mailto:joaovbsevero@gmail.com">joaovbsevero@gmail.com</a>
            </th>
        </tr>
        <tr>
            <th>
                <img class="contatoimg" src="../images/icons/LinkedinIcon.png">
            </th>
            <th>
                Linkedin: <a class="contatoa" style="color: rgba(70, 70, 70, 0.815);" target="_blank" href="https://www.linkedin.com/in/jo%C3%A3o-vitor-severo-a2b5aa165/">Linkedin João Severo</a>
            </th>

        </tr>
        <tr>
            <th>
                <img class="contatoimg" src="../images/icons/FacebookIcone.png">
            </th>
            <th>
                Facebook: <a style="color: rgba(70, 70, 70, 0.815);" target="_blank" href="https://www.facebook.com/joaovitor.bernardisevero">Facebook João Severo</a>
            </th>

        </tr>
    </table>
</div>