<div class="child" id="experiencias">
        <div class="exp-text">
            <h1 class="exph1"> Linguagem/Ferramenta</h1>
            <h5 class="exph5">Periodo</h5>
            <h3 class="exph3">Experiencia com tal ferramenta/linguagem</h3>

            <h1 class="exph1"> Linguagem/Ferramenta</h1>
            <h5 class="exph5">Periodo</h5>
            <h3 class="exph3">Experiencia com tal ferramenta/linguagem</h3>

            <h1 class="exph1"> Linguagem/Ferramenta</h1>
            <h5 class="exph5">Periodo</h5>
            <h3 class="exph3">Experiencia com tal ferramenta/linguagem</h3>

            <h1 class="exph1"> Linguagem/Ferramenta</h1>
            <h5 class="exph5">Periodo</h5>
            <h3 class="exph3">Experiencia com tal ferramenta/linguagem</h3>
        </div>
    </div>