<!-- Inserir no conteiner -->

<div class="home">
<link rel="stylesheet" type="text/css" href="../../static/styles/home.css">
<div class="main">
    <h1>Título</h1>
    <p>texto de apresentação do site</p>

    <p>texto de apresentação do site</p>
    <p>texto de apresentação do site</p>
    <p>texto de apresentação do site</p>
    <p>texto de apresentação do site</p>
    <p>texto de apresentação do site</p>
    <p>texto de apresentação do site</p>
    <p>texto de apresentação do site</p>
    <p>texto de apresentação do site</p>
    <p>texto de apresentação do site</p>
    <p>texto de apresentação do site</p>
    <p>texto de apresentação do site</p>
</div>
</div>