<!-- Inserir no conteiner -->
<div id="linguagens">
    <link rel="stylesheet" type="text/css" href="../../static/styles/linguagens.css">
    <div class="python-text">
        <h1>Python</h1>

        <h3>
            Texto sobre Python
        </h3>

        <h1>Java</h1>

        <h3>
            Texto sobre Java
        </h3>

        <h1>Javascript</h1>

        <h3>
            Texto sobre Javascript
        </h3>

        <h1>SQL</h1>

        <h3>
            Texto sobre SQL
        </h3>
    </div>
</div>