.main_certificates {
    height: 100%;
    font-weight: normal;
}

.certificates_child{
    margin: auto;
    width: 57vw;
    padding: 50px;
    padding-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid black;
}

.certificates_first{
    padding-top: 50px;    
}

.certificates_h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.certificates_pre {
    font-size: 20px;
}

.certificates_img {
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    min-width: 150px;
    max-width: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width: 700px){
    .certificates_child{
        padding: 25px;
        padding-top: 20px;
        padding-bottom: 18px;
    }

    .certificates_first{
        padding-top: 25px;
    }

    .certificates_h1{
        font-size: 23px;
    }

    .certificates_pre{
        font-size: 18px;
    }

    .certificates_img{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px){
    .certificates_child{
        padding: 10px;
        padding-top: 8px;
        padding-bottom: 4px;
    }

    .certificates_first{
        padding-top: 10px;
    }

    .certificates_h1{
        font-size: 17.5px;
    }

    .certificates_pre{
        font-size: 13px;
    }

    .certificates_img{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}