  .main_home{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    padding-top: 48px;
    width: 57vw;
  }

  .home_h1 {
    font-size: 30px;
  }

  .hierarchy_list{
    list-style: disc outside;
    margin-right: 25px;
    margin-top: 0;
  }

@media screen and (max-width: 700px){
  .main_home{
    padding-top: 25px;
  }
  .home_h1{
    font-size: 23px;
  }

  .hierarchy_list {
    margin-right: 15px;
  }
}

@media screen and (max-width: 500px){
  .main_home{
    padding-top: 10px;
  }
  .home_h1{
    font-size: 17.5px;
  }

  .hierarchy_list {
    margin-right: 10px;
  }
}