html{
  height: 100%;
  overflow-x: hidden;
}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin: 0;
    height: 100%;
  }

  header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-right: 30%;
    padding-left: 30%;
    background-color: black;
  }

  .child{
    display: none;
  }

  pre {
    text-align: justify;
    white-space: pre-line;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  }

  footer{
    text-align: center;
    display: block;
    color: white;
    background-color: #333;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 10px;
    bottom: 0;
    margin-top: 40px;
    font-size: 18px;
  }

  
@media screen and (max-width: 700px) {
    pre{
      font-size: 16px;
    }

    footer{
      font-size: 16px;
      padding-top: 8px;
      padding-bottom: 6px;
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 500px){
    pre{
      font-size: 12px;
    }

    footer{
      font-size: 12px;
      padding-top: 4px;
      padding-bottom: 4px;
      margin-top: 8px;
    }
  }