.main_web {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: center;
    margin: 0 auto; 
    width: 57vw;
    margin-top: 75px;
}

.web_h1, .web_pre {
    margin-top: 25px;
    font-weight: normal;
}

.web_pre {
    padding-bottom: 40px;
    border-bottom: 1px solid #000000;
}